*{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    
    
}

body {
    background-color: black;
    color: yellow;

}

img{
    width: 450PX;
    padding: 0%;
}

